- cache(slide) do
  %li[slide]{:style => "margin-top: #{((790-slide.image.large.height)/2)-40}px;"}
    %div
      %a{:href => gallery_painting_path(gallery, slide)}
        = image_tag slide.image.large, :size => "#{slide.image.large.width}x#{slide.image.large.height}", :alt => slide.title

    %p.note
      = slide.note
      %em= "(Sold)" if slide.sold?
