#links
  %h1 Artists I Have Learned From...

  = image_tag 'coeymans_landing.png', :size => '630x412'

  %p
    Over the years, I have had the privilege of meeting many artists that share my
    passion for watercolor. Of those artists that I have met, these are the ones
    that have had the most influence on my work.

  %dl
    %dt Alvaro Castagnet:
    %dd= link_to 'www.alvarocastagnet.net', 'www.alvarocastagnet.net'

    %dt Sandro La Ferla:
    %dd= link_to 'sandrolaferla.com', 'http://sandrolaferla.com'

    %dt Joe Garcia:
    %dd= link_to 'www.joegarcia.com', 'http://www.joegarcia.com'

    %dt Carol Carter:
    %dd= link_to 'www.carol-carter.com', 'http://www.carol-carter.com'
