- post = full_post
#full_post
  %p= link_to 'Back', blog_path

  - if post.painting
    - painting = post.painting.image.large
    = image_tag painting.url, :size => "#{painting.width}x#{painting.height}", :alt => post.painting.title

  %h1= post.title
  %h3= post.published_at
  #post_body= raw post.body
  %br
  %p= link_to 'Back', blog_path
