#gallery
  #info
    %h1= gallery.name
    %p
      All paintings are available either as originals or
      gicleé prints.  Prints are still available for those
      originals marked sold.  Please contact me for
      price and sizes at
      = mail_to 'vanhorn24@optonline.net'
  #slideshow
    %a{:href => gallery_paintings_path(gallery)}
      = image_tag 'slides.png', :id => 'slides', :size => '119x36', :alt => 'Start Slideshow', :title => 'Start Slideshow'
    %br
    = image_tag 'signature-grey.png', :size => '242x132', :id => 'signature-grey', :alt => '-- Chuck Van Horn'
  %ul.thumbnails
    = render gallery.paintings
