!!!
%html
  %head
    %title Chuckvanhorn
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    .navbar.navbar-fixed-top
      .navbar-inner
        .container
          %a.brand{:href => "#"}
            Chuck Van Horn
          %ul.nav
            %li
              %a{:href => root_url} Home
            %li.dropdown
              %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
                Galleries
                %b.caret
              %ul.dropdown-menu
                - Gallery.where("name IN ('Gallery 1', 'Gallery 2')").order('name ASC').each do |gallery|
                  %li
                    = link_to gallery.name, gallery_path(gallery)

            %li= link_to 'Portraits', portraits_path
            %li= link_to 'Biography', biography_path
            %li= link_to 'Blog', blog_path
            %li= link_to 'Links', links_path
            %li= link_to 'Workshops', workshops_path

    .container
      = yield
