!!!
%html
  %head
    %title Chuckvanhorn
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    .navbar.navbar-fixed-top
      .navbar-inner
        .container
          %a.brand{:href => "#"}
            Chuck Van Horn
          %ul.nav
            %li
              %a{:href => root_url} Home
            %li.dropdown
              %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
                Galleries
                %b.caret
              %ul.dropdown-menu
                %li
                  = link_to Gallery.first.name, gallery_paintings_path(Gallery.first)
                %li
                  = link_to Gallery.last.name, gallery_paintings_path(Gallery.last)

            %li= link_to 'Portraits', '#'
            %li= link_to 'Biography', biography_path
            %li= link_to 'Blog', '#'
            %li= link_to 'Links', links_path
            %li
              %a{:href => '#'} Workshops
    .container
      = yield
